.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2a2a72; /* Dark blue background */
    color: #ffffff;
    /*background-image: url('/path_to_wood_texture.jpg'); /* Path to your background image */
    background-repeat: repeat;
  }
  
  .site-title {
    font-size: 2.5em; /* Adjust size as needed */
    margin: 0;
  }
  
  .navigation {
    display: flex;
  }
  
  .navigation button {
    background: none;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1.2em;
    cursor: pointer;
    border-bottom: 3px solid transparent; /* Invisible border to prevent layout shift */
    transition: border-color 0.3s;
  }
  
  .navigation button:hover,
  .navigation button.active {
    border-bottom: 3px solid #4caf50; /* Green bottom border for active/hover state */
    color: #4caf50; /* Green text color for active/hover state */
  }
  
  /* Additional responsive styling if needed */
  @media (max-width: 768px) {
    .header-container {
      flex-direction: column;
    }
    
    .navigation {
      margin-top: 10px;
    }
    
    .site-title {
      margin-bottom: 10px;
    }
  }
  